<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content="{{ page.excerpt | default: site.description | strip_html | normalize_whitespace | truncate: 160 | escape }}" />
    <meta name="author" content="Yangtang Wu">

    <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" type="text/css" media="screen,projection" href="{{ "/vendor/bootstrap/css/bootstrap.min.css" | relative_url }}" />
    <!-- Custom styles for this template -->
    <link rel="stylesheet" type="text/css" media="screen,projection" href="{{ "/css/small-business.css" | relative_url }}">
</head>